<h1>Hi {{currentUser.firstname}}!</h1>
<p>Try it out now!!</p>

<div class="container-fluid">
    <div class="mat-app-background basic-container">
        <app-stepper>loading</app-stepper>
    </div>
    
</div>


<div class="container-fluid pt-4" *ngIf ="checkImageProcessed()"> 
  
    <div class="row justify-content-md-center">
        <div class="col-auto .mr-auto">
            <a href="http://www.cancerassist.in/govt-schemes-for-cancer-treatment" class="btn btn-info">Government Schemes</a>
        </div>
        <div class="col-auto .mr-auto">
             <a routerLink="/medical" class="btn btn-info">Nearby Doctors</a>
         </div>   
        <div class="col-auto .mr-auto">
            <a href="http://www.cancerassist.in/financial-help-for-needy-patients" class="btn btn-info">Financial Assists</a>
        </div>
    </div>
</div>

<div class="container-fluid pt-4" *ngIf ="checkImageProcessed()"> 
  
    <div class="row justify-content-md-center">
        <div class="col-auto .mr-auto">
            <a href="http://www.cancerassist.in/cancer-hospitals-in-india" class="btn btn-info">Treatment Centres</a>
        </div>
        <div class="col-auto .mr-auto">
             <a href="http://www.cancerassist.in/support-groups-for-cancer-patients" class="btn btn-info">Support Groups</a>
         </div>      
        <div class="col-auto .mr-auto">
            <a href="http://www.cancerassist.in/affordable-treatment-for-poor-patients" class="btn btn-info">Affordable Treatment</a>
        </div>
    </div>
</div>





