<h1>Hi {{currentUser.firstname}}!</h1>
<p>Try it out now!!</p>

<div class="container-fluid">
    <div class="mat-app-background basic-container">
        <app-stepper>loading</app-stepper>
    </div>
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-6">
              <app-medical> </app-medical>
            </div>
            <div class="col-sm-6">
                <app-medical> </app-medical>
              </div>
              <div class="col-sm-6">
                <app-medical> </app-medical>
              </div>
        </div>
    </div>
</div>




