<mat-card *ngFor="let questionRow of surveyQuestion">
    <div>
    <mat-card-header>
        <mat-card-title>{{questionRow.question}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div *ngFor="let optionRow of questionRow.options">
            <label for="{{questionRow.question}}_option_{{optionRow.id}}">
              <input id="{{questionRow.question}}_option_{{optionRow.id}}" [value]='optionRow.value' type="radio" name="{{questionRow.question}}_option_{{optionRow.id}}" [(ngModel)]="questionRow.answer">
              {{optionRow.value}}
            </label>
          </div>
        
     
    </mat-card-content>
   
    </div>
    
    </mat-card>
    <button mat-button (click)="uploadAnswers()">Submit</button>
