<H1>Institutes For Free Cancer Treatments in India</H1>
<p>
    There are centers in India that provide cancer treatments for free to patients with the help of donations and government schemes. We share a list of such institutes for you:

    When doctors say the scary word – cancer, money is the last thing on anyone’s mind. It’s the fight for survival, and to kick off this dreaded disease. One thing we all know, fighting cancer can be draining—physically, emotionally as well as financially. Keeping in mind all these aspects, governments today are looking at offering from low-cost treatment centres to free cancer treatments. It is a small effort in to make the cancer patients’ and their loved ones lives a little easier for them.
    
    Fortunately, there are centres in India that provide cancer treatments for free to patients with the help of donations and government schemes.
</p>

    <ol>
        <li>Tata Memorial Hospital, Mumbai</li>
        <li>Kidwai Memorial Institute of Oncology, Bangalore</li>
        <li>Tata Memorial Hospital, Kolkata</li>
        <li>Regional Cancer Center,Thiruvananthapuram</li>
        <li>Cancer Care Foundation of India, Mumbai</li>
      </ol>




<br>

<H1>Insurance Polices</H1>
<p>
     first step in the proposed framework is a preprocessing step, where the image is corrected for illumination variation (i.e. the presence of shadows and brightly illuminated areas). Our approach to the problem of correcting is a multi-stage illumination modeling algorithm. We assume an illumination-reflectance multiplicative model where each pixel from the Value colour channel (in the HSV colour space) can be decomposed into an illumination component and a reflectance component. The goal of the algorithm is to first estimate the illumination component and calculate the reflectance component using that illumination estimate.
In the VIP lab, the proposed multi-stage illumination modeling algorithm uses the following stages to estimate and correct for illumination variation (shown in Fig. 1):
</p>
