
<div class="card w-200">
    <div class="card-body">
        <H1 class="card-title">Institutes For Free Cancer Treatments in India</H1>
        <p class="card-text">
    There are centers in India that provide cancer treatments for free to patients with the help of donations and government schemes. We share a list of such institutes for you:

    When doctors say the scary word – cancer, money is the last thing on anyone’s mind. It’s the fight for survival, and to kick off this dreaded disease. One thing we all know, fighting cancer can be draining—physically, emotionally as well as financially. Keeping in mind all these aspects, governments today are looking at offering from low-cost treatment centres to free cancer treatments. It is a small effort in to make the cancer patients’ and their loved ones lives a little easier for them.
    
    Fortunately, there are centres in India that provide cancer treatments for free to patients with the help of donations and government schemes.
            
</p>
    <ol>
        <li>Tata Memorial Hospital, Mumbai</li>
        <li>Kidwai Memorial Institute of Oncology, Bangalore</li>
        <li>Tata Memorial Hospital, Kolkata</li>
        <li>Regional Cancer Center,Thiruvananthapuram</li>
        <li>Cancer Care Foundation of India, Mumbai</li>
      </ol>
 

    </div>
</div>

<div class="card w-200 mb-3">
    <div class="card-body">

    <H1 class="card-title">Insurance Polices</H1>
<p class="card-text">
    Our lifestyle and stress related issues make us prone to many critical diseases, sometimes even at an early age. Cancer is one such disease which has increasingly become an epidemic. More often than not, the cost of cancer treatment is very expensive and can become a huge financial burden on the family causing a big dent in our savings pool.
    <br>
    Max Life Cancer Insurance plan provides comprehensive protection against all stages of Cancer. If detected at an early stage, 20% of the cover paid upfront and all future premiums are waived. If detected at a major stage, full cover amount is paid with additional 10% as income for next 5 years. The plan offers cover till age 75 years. 
</p>
</div>
</div>