<div class="card w-200">
     <div class="card-body">
          <H1 class="card-title">Skingage</H1>
<p class="card-text">
     According to the National Cancer Registry Programme of the India Council of Medical Research (ICMR), more than 1300 Indians die every day due to cancer. 
     In India, skin cancers constitute about 1-2% of all diagnosed cancers. 
     <br>
     Skingage aids to check your skin spots for early signs of skin cancer.
     <br>
     Our technology analyzes image of skin along with a detailed questionarie and gives an instant risk assessment and advice on what should be done next, 
     for example - nearest doctor visits, insurance optionns, reminder for routine health check up, etc... 
     <br>
     Skingage makes it possible to detect skin cancer at an early stage when it’s most treatable with insurance treatment options.
</p>
</div>
</div>

<div class="container-fluid pt-5" >

          <H1 class="card-title" align = "center">Meet Us</H1>
          <div class="row" align = "center">
              
         
               <div class="col" >
                    <div class="meet-us" align = "center">
                    <ngx-avatar  name = "Deepak Ram" src="assets/image/deepu.jpeg"  [round]="true"  size="100"></ngx-avatar>
                    <label>Deepak Ram K</label>
                    <div>
                         <mat-icon>email</mat-icon><span>deepak7946@gmail.com</span>
                    </div>
               </div>
               </div>

               <div class="col">
                    <div class="meet-us" align = "center">
                    <ngx-avatar  name = "Praveen" src="assets/image/praveen.jpeg"  [round]="true"  size="100"></ngx-avatar>
                    <label>Praveen Rongali</label>
                    <div>
                         <mat-icon>email</mat-icon><span>prvn386@gmail.com</span>
                    </div>
                    </div>
               </div>

               <div class="col">
                    <div class="meet-us" align = "center">
                    <ngx-avatar  name = "Krishnan" src="assets/image/krishnan.jpeg"  [round]="true"  size="100"></ngx-avatar>
                    <label>Krishnan Ananthanarayanan</label>
                    <div>
                         <mat-icon>email</mat-icon><span>akrishnan394@gmail.com</span>
                    </div>
                     </div>
               </div>
               <div class="col">
                    <div class="meet-us" align = "center">
                    <ngx-avatar title = "shandahnu0" name = "Shandhanu Mohan" src="assets/image/shan.jpg"  [round]="true"  size="100"></ngx-avatar>
                    <label>Shandhanu Mohan</label>
                    <div>
                         <mat-icon>email</mat-icon><span>shandhanu05@gmail.com</span>
                    </div>
                </div>
               </div>
     </div>
     </div>
     

