.meet-us .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }


.meet-us:hover .tooltiptext {
    visibility: visible;
  }