
<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="secondFormGroup" >
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Answer the Questionnaire</ng-template>
  
    <!--  <app-questionnaire (messageEvent)="receiveMessage($event)"> </app-questionnaire>-->
    <app-questionnaire></app-questionnaire>
      <div>
    
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Upload Image</ng-template>
      <button mat-button color="warn" (click)="onClick()">  
        <mat-icon>file_upload</mat-icon>  
        Upload  
      </button> 
      <img [src]="url" height="200"> <br/> 
      <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="image/*" style="display:none;" (change)="onSelectFile($event)"/>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="uploadFile()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Result</ng-template>
    <div class="comeBack_up" *ngIf="isEmpty()">
      <img src="/assets/image/loading.gif" />
  </div>

  <div class="comeBack_up" *ngIf="!isEmpty()">
    <p>Risk Factor: <b>{{predictionModel.value}}</b> <br>
    Type:  <b>{{predictionModel.type}}</b></p>
  </div>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


