
  
    <table id="productSizes" class="table">
        <thead>
    <tr>
      <th>Name</th>
      <th>Speciality</th>
      <th>Hospital</th>
    </tr>
 </thead>
 <tbody>
    <tr *ngFor="let docDetail of doctorList">
      <td>{{docDetail.name}}</td>
      <td>{{docDetail.speciality}}</td>
      <td>{{docDetail.hospital}}</td>
      <td>
        <button class="btn btn-info">
          Book Appointment
      </button>
      </td>
    </tr>
 </tbody>

</table>
<!--</div>-->

<!--
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">




    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="speciality">
      <th mat-header-cell *matHeaderCellDef> Speciality </th>
      <td mat-cell *matCellDef="let element"> {{element.speciality}} </td>
    </ng-container>

  
    <ng-container matColumnDef="hospital">
      <th mat-header-cell *matHeaderCellDef> Hospital </th>
      <td mat-cell *matCellDef="let element"> {{element.hospital}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

-->